
<div class="row">
    
    <div class="card p-4 bg-info" style="width: 20rem; margin-right: 10px; margin-top: 10px" p-5 m-5>
    
        <p>
            <img src="/images/dog.jpg">
        </p>
</div>
<div class="card p-4 bg-warning" style="width: 20rem; margin-right: 10px; margin-top: 10px" p-5 m-5>
    <p>
        <img src="/images/cat.jpg">
    </p>
</div>
<div class="card p-4 bg-warning" style="width: 20rem; margin-right: 10px; margin-top: 10px" p-5 m-5>
    <p>
        <img src="/images/dog.jpg">
    </p>
</div>
<div class="card p-4 bg-warning" style="width: 20rem; margin-right: 10px; margin-top: 10px" p-5 m-5>
    <p>
        <img src="/images/cat.jpg">
    </p>
</div>

<div class="card p-4 bg-warning" style="width: 20rem; margin-right: 10px; margin-top: 10px" p-5 m-5>
    <p>
        <img src="/images/dog.jpg">
    </p>
</div>

<div class="card p-4 bg-info col-25" style="width: 45rem; margin-left: 40px; margin-right: 100px; margin-top: 10px" p-5 m-5>
   <h1> Cat Photo Contest</h1>

<form>

<div class="mb-0"> 
    <div class="block">
        <label>Name your cat</label>
        <input type="text" />
    </div>
</div>

<form>
        <div class="block">
        <label>Url of a picture of your cat</label>
        <input type="text" />
    </div>

<button type="submit" class="btn btn-danger">Enter your cat into the contest</button>
</form>
</div>

<div class="card p-4 bg-info col-25" style="width: 45rem; margin-left: 30px; margin-right: 100px; margin-top: 10px" p-5 m-5>
    <h1> Dog Photo Contest</h1>
 
 <form>
 
 <div class="mb-0"> 
     <div class="block">
         <label>Name your dog</label>
         <input type="text" />
     </div>
 </div>
 
 <form>
         <div class="block">
         <label>Url of a picture of your dog</label>
         <input type="text" />
     </div>
 
 <button type="submit" class="btn btn-danger">Enter your cat into the contest</button>
 </form>
 </div>
</div>	