

    <div class="jumbotron">
        <h1>General Browser</h1>
        <p>Top Houses</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-cen">
                <img src = "images/HouseLogo.png" width="100" height="150" class = "card-img-top">
                <div class ="card-body">
                    <h5>House Name:</h5>
                    <p>Summary: </p>
                    <p>Property Type:
                    <p>Room Type: 
                    <p>Min Nights:
                    <p>Max Nignts
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-cen">
                <img src = "images/HouseLogo.png" width="100" height="150" class = "card-img-top">
                <div class ="card-body">
                    <h5>House Name:</h5>
                    <p>Summary: </p>
                    <p>Property Type:
                    <p>Room Type: 
                    <p>Min Nights:
                    <p>Max Nignts
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-cen">
                <img src = "images/HouseLogo.png" width="100" height="150" class = "card-img-top">
                <div class ="card-body">
                    <h5>House Name:</h5>
                    <p>Summary: </p>
                    <p>Property Type:
                    <p>Room Type: 
                    <p>Min Nights:
                    <p>Max Nignts
                </div>
            </div>
        </div>
      </div>
    

